@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #gradient-canvas {
    --gradient-color-1: #93bded;
    --gradient-color-2: #2e79c2;
    --gradient-color-3: #c5c6e9;
    --gradient-color-4: #106bbb;
    width: 100%;
    /*
      --gradient-color-1: #07599c; 
      --gradient-color-2: #0673b1; 
      --gradient-color-3: #0056b3;  
      --gradient-color-4: #1f2361;
      */
  }

  .blurTop {
    -webkit-mask-image: linear-gradient(
      var(--direction),
      var(--mask-visible) 25%,
      var(--mask-hidden)
    );
    mask-image: linear-gradient(
      var(--direction),
      var(--mask-visible) 25%,
      var(--mask-hidden)
    );
  }

  .bgA {
    background: linear-gradient(
      var(--direction),
      var(--bg),
      var(--transparent)
    );
  }

  .bgDark {
    background: linear-gradient(
      var(--direction),
      var(--bg-dark),
      var(--transparent)
    );
  }

  :root {
    --transparent: transparent;
    --bg: #efefef;
    --bg-dark: #0e0e0e;
    --direction: to bottom;
    --mask-visible: #000;
    --mask-hidden: transparent;
  }
}
